**/.deps/
**/.dirstamp
src/config.h
src/config.h.in
**/*.o
**/stamp-h1
tests/unittests
tests/unittests.log
tests/unittests.trs
.codelite/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
tcpip
tcpip-illustrated.project
tcpip-illustrated.workspace
test-suite.log

